.no-padding{
	padding-left: 0px;
	padding-right: 0px;
}

#header{
	height: 80px;
	border-bottom: 1px solid #bcbcbc;
}
#header .logo{
	padding-top: 25px;
}
.logo a > img{
	width: 100%;
	max-width: 160px;
}

#header .header-right{
	padding-top: 25px;
	text-align: right;
}
.header-right #menu-main-menu{
	list-style: none;
	padding-left: 0px;
}
.header-right #menu-main-menu li{
	display: inline-block;
}
.header-right #menu-main-menu li a{
	color: black;
	padding: 10px 30px;
	line-height: 30px;
	font-size: 15px;
}
.header-right #menu-main-menu li.menu-item-has-children .sub-menu{
	position: absolute;
	padding-left: 0px;
	display: none;
	background: #000;
	margin-top: 10px;
	z-index: 99;
}
.header-right #menu-main-menu li.menu-item-has-children .sub-menu > li{
	display: block;
	text-align: left;
}
.header-right #menu-main-menu li.menu-item-has-children .sub-menu > li a{
	padding: 15px 30px;
	color: #fff;
	display: block;
}


#footer{
	height: 50px;
	padding: 10px 0;
	border-top: 1px solid #bcbcbc;
}
#footer .footer-left{
	text-align: center;
}
#footer .footer-menu #menu-footer-menu{
	padding-left: 0px;
	text-align: center;
	list-style: none;
}
#footer .footer-menu #menu-footer-menu li a{
	color: #000;
}

/* post */
.post-row{
	margin-bottom: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid #bcbcbc;
}
.post-row:last-child{
	border-bottom: none;
}
.post-row .post-content a{
	color: black;
}
.post-row .post-content h3{
	font-weight: 700;
	font-size: 25px;
	margin-top: 0px;
}
.post-row .post-content .excerpt{
	font-size: 18px;
}
.post-row .post-content .author{
	color: #468c54;
}
.post-row .post-content .date{
	color: #999;
}

.single-post > img{
	width: 100%;
	height: auto;
}
.single-post .img-title{
	position: relative;
}
.single-post .img-title > h1{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #000;
	color: #fff;
	margin: 0px;
	padding: 30px;
}
.single-post .content{
	margin-top: 60px;
	margin-bottom: 60px;
}
.single-post .content p{
	font-size: 18px;
}

.page-template .content{
	margin: 60px 0;
}
.page-template .gmap{
	margin-bottom: 60px;
}